<%if(currentUser){%>
    <a href="/logout">Log out</a> <br>
<%} else{%>
    <a href="/login">login</a> <br>
    <a href="/register">Signup</a> <br>
<%} %>

<a href="/show">See all investments and portfolios</a>